<h1>Welcome to Herga Dashboard</h1>


<p>As a registered user, your dashboard acts like a gateway to all the tools used at Herga Home.</p>
<br/>
<p>At the top of every page, you will have the "Tools" tab displayed throughout the site, to help you navigate easily.</p>
<br/>
<p>Under the Tools tab, there are sub-tabs with links to the various tools.</p>
<br/>
<p>Please note that for some tools you may be required to enter your username and password to access the system(s).</p>
<br/>
<p>The Username and password may be different than the one used to access this site.</p>
<br/>
<p>For security reasons, please do not share your password with anyone. </p>
<br/>
<p>If you experience any difficulties navigating through the site, Please contact the systems administrator</p>

<br/>

<p>Thanks in advance for your cooperation.</p>
<br/>
<p> Site Admin Team. </p>



