<% provide(:title, "HHMS") %>

<h1>HHMS</h1>
<p>
Herga Home Management System (HHMS) is a moodle based web application.
  <a href="http://10.1.10.9/"><em>HHMS </em>  </a> contains a variety of records, including HBR.
  It is essentially the main system of record pending the further expansion of this intranet site.
</p>

<br>
<hr/>
<div class= "center jumbotron">
<%= link_to image_tag("moodle.png", alt: "moodle logo",:size => "200x100" ),
            'http://10.1.10.9/' %>
</div>