<% provide(:title, "Rules") %>

<h1>House Rules</h1>
<p>
  The following rules apply to anyone logged onto the Herga.
  net network or anyone using Home computing equipment:
</p>

<ol>
  <hr/>
  <li>Under no circumstances shall any hardware equipment be unplugged or moved without approval of
    the system administrator. </li>
  <hr/>
  <li>Under no circumstances shall computer settings of any computers in the
    house be changed by users. </li>
  <hr/>
  <li>All mobile phones connected to Herga.net Wireless access points are given IP addresses by the Herga.net
    DHCP Servers. </li>
  <hr/>
  <li>Access to wireless network can be revoked on devices that violate the network policy. </li>
  <hr/>
  <li>As of 21/01/2018, all persons under the age of 18 shall be in bed by 08.30 PM.</li>
  <hr/>
  <li>All person under the age of 18 must eat fruit and vegetables if the produce is made available. </li>
  <hr/>
  <li>The house must be maintained clean at all times. All persons must adopt a Clean AS You Go approach. </li>
  <hr/>
  <li>All person under the age of 18 must eat fruit and vegetables if the produce is made available. </li>
  <hr/>
  <li>The administration office is not a playroom. Only authorized persons may enter this room. </li>
  <hr/>
  <li>Writing on the walls is not permitted under any circumstances. </li>
  <hr/>
  <li>Anyone who deviates from the rule will face sanctions. The nature of those sanctions is decided by
    the sanctioned as he/ she sees fit. </li>
  <hr/>




</ol>