<% provide(:title, " Edit Activity") %>
<h1>Editing Activity</h1>

<%= render 'form', meeting: @meeting %>




<div class="breadcrumb">

  <%= link_to 'View', @meeting, class: "fa fa-eye"  %> |

  <%= link_to 'Back', meetings_path, class:"fa fa-arrow-circle-o-left" %>
</div>