<% provide(:title, "Edit Todo List") %>
<h1>Editing Todo List</h1>

<%= render 'form', todo_list: @todo_list %>

<div class="breadcrumb">
  <%= link_to 'View', @todo_list, class:'fa fa-eye' %> |
  <%= link_to 'Back', todo_lists_path %>
</div>