<% provide(:title, "New ToDo List") %>

<h1>New Todo List</h1>

<%= render 'form', todo_list: @todo_list %>

<div class="links">
  <%= link_to 'Back', todo_lists_path , class:"fa fa-arrow-circle-o-left" %>

</div>

