<% provide(:title, "Edit Entry") %>
<h1>Editing Entry</h1>

<%= render 'form', diary: @diary %>




<div class="links">

  <%= link_to 'View', @diary, class: "fa fa-eye"  %> |

  <%= link_to 'Back', diaries_path , class:"fa fa-arrow-circle-o-left" %>
</div>