<% provide(:title, " New Resource") %>
<h1>New Resource</h1>

<%= render 'form', resource: @resource %>


<div class="links">
  <%= link_to 'Back', resources_path ,class: 'fa fa-arrow-circle-o-left' %>
</div>